@font-face {
    font-family: "japan";
    src: url(../Fontes/To\ Japan\ Italic.otf);
}

@font-face {
    font-family: "dbz";
    src: url(../Fontes/Dragon_Ball.otf);
}
@font-face {
    font-family: "naruto";
    src: url(../Fontes/naruto.ttf);
}
@font-face {
    font-family: "jutsu";
    src: url(../Fontes/jujutsu.otf);
}
@font-face {
    font-family: "op";
    src: url(../Fontes/op.ttf);
}
@font-face {
    font-family: "slime";
    src: url(../Fontes/Slime.otf);
}
@font-face {
    font-family: "cz";
    src: url(../Fontes/CavaleirosZ.otf);
}
@font-face {
    font-family: "one";
    src: url(../Fontes/onepunch.ttf);
}
@font-face {
    font-family: "boku";
    src: url(../Fontes/boku.ttf);
}
@font-face {
    font-family: "tail";
    src: url(../Fontes/FairyTail.ttf);
}

